<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pizza Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/pizzaorder/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/animate.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/style.css" />

    <style>
        .boxx {
            width: 100%;
            background: #ff2a6b;
            padding: 10px 15px;
            border-radius: 5px;
        }

            .boxx h4 {
                color: white;
            }

        .tblcart {
            margin-top: 30px;
        }

        .btn_adche {
            display: inline-block;
        }

            .btn_adche a {
                margin-right: 20px;
            }

                .btn_adche a:hover {
                    background: #ff2a6b;
                    border: none;
                }

        .header-search a {
            width: 50px;
            display: inline-block;
        }

        input[type=submit] {
            margin-top: -63px;
            margin-left: 115px;
        }

            input[type=submit]:hover {
                background: #ff2a6b;
            }
    </style>

</head>
<body>

    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="header-social">
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="user-panel">
                    @if (Session["u_id"] == null)
                    {
                        @Html.ActionLink("Sign Up", "SignUp", "Home", null, new { @class = "ht" })
                        @Html.ActionLink("Sign In", "Login", "Home", null, new { @class = "ht" })
                    }
                    else
                    {
                        @Html.ActionLink("Sign Out", "Logout", "Home", null, new { @class = "ht" })
                    }
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <a href="index.html" class="site-logo">
                    <img src="~/Content/pizzaorder/img/logo.png" alt="">
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                </div>
                <ul class="main-menu">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Features", "Home")">Menu</a></li>                    
                    <li><a href="#">Reviews</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header section end -->
    <!--checkout details start-->

    @if (TempData["cart"] != null)
    {
        <div class="checkout">
            <div class="container">
                <div class="row">

                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="boxx">
                            <h4><i class="fa fa-cart-plus"></i>  Your Shopping Cart</h4>
                        </div>
                    </div>

                    <div class="col-md-1">

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tblcart">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>FoodName</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Bill</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in TempData["cart"] as List<OnlinePizzaOrder.Models.cart>)
                                    {
                                        <tr>
                                            <td><a class="text-danger" href="@Url.Action("remove", new { id=item.productid})">&#10008;</a> &nbsp;&nbsp; @item.productname</td>
                                            <td>&#2547 @item.price</td>
                                            <td>@item.qty</td>
                                            <td>&#2547 @item.bill</td>
                                        </tr>

                                    }
                                </tbody>

                                <tfoot class="bg bg-light text-primary font-weight-bold">
                                    <tr>
                                        <td colspan="3">Total Price</td>
                                        <td>&#2547 @TempData["total"]</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="btn_adche">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">AdToCart</a>

                            @if (Session["u_id"] != null)
                            {
                                using (Html.BeginForm())
                                {
                                    <input type="submit" value="Checkout" class="btn btn-primary" />
                                }
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Checkout</a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

    else
    {
        <div class="checkout">
            <div class="container">
                <div class="row">

                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <div class="boxx">
                            <h4><i class="fa fa-cart-plus"></i>  Your shopping cart is empty!!!</h4>
                        </div>
                    </div>

                    <div class="col-md-1">

                    </div>

                </div>
            </div>
        </div>
    }
    <!--checkout details end-->
    <!-- Footer section  -->
    <footer class="footer-section set-bg" data-setbg="/Content/pizzaorder/img/footer-bg.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Receipies</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <p class="copyright">
                        Copyright &copy; Project | CSE3200 | AUST
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Content/pizzaorder/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/pizzaorder/js/owl.carousel.min.js"></script>
    <script src="~/Content/pizzaorder/js/main.js"></script>
</body>
</html>