@model IEnumerable<OnlinePizzaOrder.Models.tbl_product>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pizza Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/pizzaorder/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/animate.css" />
    <link rel="stylesheet" href="~/Content/pizzaorder/css/style.css" />

    <style>
        .box{
            height:350px;
        }
        .box .imgBox img {
            width: 100%;
            height: 390px;
            transition: .5s;
        }

        .box .content h3{
            margin-bottom:15px;
        }
        .box .content h5 span {
            background: #fff;
            color: white;
            padding: 8px 10px;
            border-radius: 5px;
        }

        .box .content h5 span:hover {
                background: #ff2a6b;
        }

        .header-search a{
            width:50px;
        }
    </style>
</head>
<body>

    @if (TempData["msg"] != null & Session["u_id"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["msg"]
        </div>
    }



    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="header-social">
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="user-panel">


                    @if (Session["u_id"] == null && TempData["admin"] ==null)
                    {
                        @Html.ActionLink("Sign Up", "SignUp", "Home", null, new { @class = "ht" })
                        @Html.ActionLink("Sign In", "Login", "Home", null, new { @class = "ht" })
                    }
                    else
                    {
                        @Html.ActionLink("Sign Out", "Logout", "Home", null, new { @class = "ht" })
                    }
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <a href="index.html" class="site-logo">
                    <img src="~/Content/pizzaorder/img/logo.png" alt="">
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-search">
                    <a href="@Url.Action("checkout", "Home")">
                        <i class="fa fa-cart-plus"></i>
                        @if (TempData["cartto"] == null)
                        {

                            <span>(0)</span>
                        }
                        else
                        {

                            <span> (@TempData["cartto"])</span>

                        }
                    </a>
                </div>
                <ul class="main-menu">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Features", "Home")">Menu</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li>
                        
                        @if (TempData["admin"] != null)
                        {
                            <a href="@Url.Action("Admin", "Home")">Admin</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hero-slide-item set-bg" data-setbg="/Content/pizzaorder/img/slider-bg-1.png">
                <div class="hs-text">
                    <h2 class="hs-title-1"><span>Bringing people</span></h2>
                    <h2 class="hs-title-2"><span>together</span></h2>
                    <h2 class="hs-title-3"><span>with a slice of tasty pizza!</span></h2>
                </div>
            </div>
            <div class="hero-slide-item set-bg" data-setbg="/Content/pizzaorder/img/slider-bg-3.png">
                <div class="hs-text">
                    <h2 class="hs-title-1"><span>Free Pizza</span></h2>
                    <h2 class="hs-title-2"><span>Delivery</span></h2>
                    <h2 class="hs-title-3"><span>we care about our customers!</span></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- Menu Section Start-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menuimg">
                    <img src="~/Content/pizzaorder/img/title.PNG" alt="Title Img">
                </div>
            </div>
        </div>
        <div class="row">


            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="box">
                        <div class="imgBox">
                            <img src="@Url.Content(item.pro_image)" alt="">
                        </div>
                        <div class="content">
                            <h3>@item.pro_name</h3>                          
                            <h4>&#2547 @item.pro_price</h4>
                            <h5> <span class="">@Html.ActionLink("Add To Cart", "AdToCart", new { id = @item.pro_id })</span></h5>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
    <!-- Menu Section end-->
    <!-- Footer section  -->
    <footer class="footer-section set-bg" data-setbg="/Content/pizzaorder/img/footer-bg.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo">
                        <img src="~/Content/pizzaorder/img/logo.png" alt="">
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Receipies</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <p class="copyright">
                        Copyright &copy; Project | CSE3200 | AUST
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Content/pizzaorder/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/pizzaorder/js/owl.carousel.min.js"></script>
    <script src="~/Content/pizzaorder/js/main.js"></script>
</body>
</html>